@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    font-size: 16px;
    --Dark-Blue: #2b3945;
    /*(Dark Mode Elements)*/
    --Very-Dark-Blue-bg: #202c37;
    /*(Dark Mode Background)*/
    --Very-Dark-Blue: #111517;
    /*(Light Mode Text)*/
    --Dark-Gray: #858585;
    /*(Light Mode Input)*/
    --Very-Light-Gray: #fafafa;
    /*(Light Mode Background)*/
    --White: #ffffff;
    /* (Dark Mode Text & Light Mode Elements)*/
}

.input::placeholder {
    color: white !important;
}

::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--Dark-Gray);
}

::-webkit-scrollbar-thumb {
    background-color: var(--Dark-Blue);
    border-radius: 10px;
}

.form {
    position: relative;
}

.form .fa-search {
    position: absolute;
    top: 1.1rem;
    left: 1.1rem;
    color: #9ca3af;
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.left-pan {
    padding-left: 7px;
}

.left-pan i {
    padding-left: 10px;
}

.form-input {
    height: 50px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus {
    box-shadow: none;
    border: none;
}

.selectpicker {
    padding: 0.8rem;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.3rem;
}

.selectpicker option:first-child {
    font-weight: 200;
}

.selectpicker option {
    font-weight: 600;
}

#siwtch-theme span i {
    cursor: pointer;
}

.selectOption option {
    background-color: var(--Dark-Blue);
}

h5 {
    font-weight: 800;
}

.country-info {
    margin: 1.9rem 0 0.8rem;
    line-height: 0.7rem;
}

.country-info span {
    font-weight: 600;
    font-size: 1rem;
}

.country-info p {
    font-weight: 300;
    font-size: 1rem;
}

.scale {
    transition: all ease 1s;
}

.scale:hover {
    transform: scale(1.1);
}